*{
    font-family: "Ubuntu";
}
.carousel-item img{
    position: relative;
    text-align: center;
    height: 100%;  
}
.carousel-item h5{
    margin-top: -18rem;
    font-size: 65px;
    font-weight: 700;
    position: absolute; 
    width: 150%;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}  
.carousel-item p{
    margin-top: -15rem;
    font-size: 18px;
    font-weight: 700;
}
.carousel-item .btn-get-started{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 36px;
    border-radius: 5px;
    line-height: 1;
    margin: 10px;
    color: #fff;
    background-color: #e62d39;
    border: 2px ;
}
.carousel-control-prev {
    display: none;
}
.carousel-control-next {
    right: 0;
    display: none;
}

.instruction h5{
    
    font-size: 60px;
    font-weight: 700;
}
.instruction h1{
    color: #1B1C41;
    font-size: 30px;
    line-height: 36px;
}
.instruction p{
    color: #1B1C41;
    font-size: 22px;
    line-height: 30px;
    text-align: justify !important;
    padding: 5% 15% 0 15%;
}
.instruction .why{
    color: #1B1C41;
    font-size: 22px;
    line-height: 30px;
}
.instruction .why:hover{
    color: #e62d39;
}

/* Registration Form */
.regForm
{
    background-color: #1B1C41;
}
.mycontainer{
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
}
.mycontainer h2{
  color: #1B1C41;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}
.mycontainer img{
    width:20%;
    height: auto;
    display: block;
    padding: 40px 0 40px 0;
    margin-left: auto;
    margin-right: auto;
   

}
  
  form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    width: 100% !important;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
    /* margin-bottom: 10px; */
    display: block;
    color: #1B1C41;
    font-size: 16px;
    line-height: 24px;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #fff;
  }
  .form-check-input[type=checkbox]
  {
    border-color: #1B1C41;
    border-radius: .25em;
  }

  .fav_area {
    border: 2px solid #1B1C41;
    padding: 10px;
    margin: 10px 0;
}
  /* .form-check {
    padding: 5px;
    margin: 5px 0;
} */
.fav_area h5{
  font-size: 16px;
  position: relative;
  top: -24px;
  background: white;
  padding: 0 5px 0 5px;
}
.label {
  font-weight: 500;
}
/* .container-fluid{
  display: flex;
  justify-content: space-evenly;
} */

/* .container-fluid .col{
  margin: 10px 90px;

} */

/* need to fix this */
/* .regForm input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 15px;
  background-color:#fff !important ;
} */
  .btn-primary {
    display: block;
    width: 100%;
    background-color: #1b1c41;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0f1025;
  }
  

/* Registration Form */
.regSlider{
  padding: 0;
}

/* Responsive */

/* Medium devices (tablets, less than 992px) */
   @media (max-width: 990px) { 
    .carousel-item h5 {
      margin-top: -14rem;
      font-size: 40px;
    }
    .carousel-item p {
      margin-top: -12rem;}
    .instruction h5 {
        font-size: 50px;}
    .instruction h1 {
          padding: 25px;
          font-size: 30px;}
    .container-fluid .col {
            margin: 0;}
   }

/* Small devices (landscape phones, less than 803px) */
  @media (max-width: 802px) {
.regSlider{
    padding: 15px 0 !important;
}
.img-fluid {
  max-width: 56%;
  height: auto;
  margin-top: 10px;
}
.carousel-item h5 {
  margin-top: -109px;
  font-size: 40px;
}
.carousel-item p {
  margin-top: -2rem;
}

}


/* X-Small devices (portrait phones, less than 576px) */
  @media (max-width: 575px) { 
    .instruction h5 {
      font-size: 40px;
  }
  .instruction h1 {
    padding: 20px;
    font-size: 26px;
}
  
.instruction p {
  font-size: 18px;
  line-height: 22px;
}
.mycontainer {
  width: 80%;
   }
.mycontainer img {
    width: 40%;}
    .mycontainer h2 {
      font-size: 25px;}
      body{
        font-size: 12px;
      }
  
  }

/* XX-Small devices (portrait phones, less than 421px) */
   @media (max-width: 420px) {
    .instruction p {
      font-size: 16px;
      line-height: 19px;
  }
  .instruction h1 {
    padding: 17px;
    font-size: 21px;
    line-height: 24px;
}
.mycontainer h2 {
  font-size: 20px;
}
.mycontainer {
  padding: 15px;
}
.mycontainer img {
  width: 60%;
}
.instruction h5 {
  font-size: 35px;
}
.mycontainer h2 {
  font-size: 24px;
}
.instruction p {
  font-size: 14px;
  line-height: 17px;
}
   }