
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
	font-family: 'ubuntu', sans-serif;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #1B1C41;
}

a {
  text-decoration: none;
  
}

a:hover {
  color: #e62d39;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 10px 0;
  line-height: 1;
  font-weight: 400;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #425451;
  text-decoration: none;
  font-family: Ubuntu, sans-serif;
  font-weight: 600;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 50px;
}

/* .scrolled-offset {
  margin-top: 0;
} */

/*--------------------------------------------------------------
# topbar
--------------------------------------------------------------*/
.top_bar{
background: rgb(15,12,41);
background: linear-gradient(90deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 50%, rgba(15,12,41,1) 100%);

}
.top_bar p{
  margin:0;
  list-style: none;
  font-size: 12px;
}
.top_bar p:hover {
  color: #e62d39;
}
.top_social i, a{
  color: #fff;
  font-size: 12px;
}
.top_bar .top_social i:hover{
  color: #fff;
   transform: scale(1.2); 

}
.top_social ul
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  column-gap: 1rem;
  margin-bottom: 0;
  color: #fff;
}
.top_social p
{ 
  margin: auto;
  font-size: 10px;
  font-weight: bold;
}

/**
* Desktop Navigation 
*/

 

.align_center{
  align-items: center !important;
}
.desktop_navbar{
    margin: 0px !important;
}
.desktop_navbar ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    /* column-gap: 1rem; */
    margin-bottom: 0;
    color: #1B1C41;
}

.desktop_navbar ul li {
  display: block;
 
}
.desktop_navbar ul li a{
  display: block;
  padding: 25.5px 10.5px;
  margin: 0px;
  font-size: 13px;
  font-weight: 700;
}

.desktop_navbar ul li:hover {
  background-color: #e62d39; /
}

.desktop_navbar ul li a:hover {
  color:#fff;
  background-color: #e62d39; 
}


.uln
{
  justify-content: flex-end !important;
}



.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #637f7b;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #1B1C41;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #1B1C41;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #1ed2b6;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.dropdown-menu {
  padding: 0;
  margin: 0;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 500;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #1bbca3;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #58716d;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(21, 27, 26, 0.8);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #58716d;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #1bbca3;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #1bbca3;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

.desktop_header{
  display: none !important;
}
@media screen and (min-width:1024px)
{
.desktop_header{
  display: flex !important;
}
.mobile_header
{
  display:  none !important;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(21, 27, 26, 0.7);
  overflow: hidden;
  padding: 0;
}

#hero .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none !important;
  border-radius: 0;
}

#hero .carousel-item::before {
  content: "";

  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .carousel-content {
  text-align: center;
}

#hero h2 {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  margin-top:-50px;
  margin-bottom: 20px;
  line-height: 36px;
  font-size: 85px;
  font-weight: 800;
}

#hero p {
  width: 100%;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
 display: none;
}

#hero .carousel-indicators li {
  list-style-type: none;
  cursor: none;
  opacity: 0.5;
}


#hero .btn-get-started {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 36px;
  border-radius: 5px;
  line-height: 1;
  margin: 10px;
  color: #fff;
  background-color: #e62d39;
  border: 2px ;
}
.nh {
  margin: 10px;
}
#hero .btn-get-started:hover {
  background: #fff;
  color: #e62d39;
  text-decoration: none;
}
@media (max-width: 400px) {
  #hero h2 {
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
  }
}
@media (max-width: 990px) {
  #hero h2 {
    font-size: 55px;
    
  }
  .img-fluid {
    max-width: 56%;
    height: auto;
    margin: 10px 0 10px 0;
}
}
@media (max-width: 768px) {
  #hero h2 {
    font-size: 60px;
  }
}
@media (max-width: 600px) {
  #hero h2 {
    font-size: 35px;
    
  }
  #hero .btn-get-started {
    padding: 13px 17px;
    font-size: 12px;
    margin: 7px;
  }
  .nh{
    margin-top: 1rem;
  }
}
@media (min-width: 1024px) {
  #hero p {
    font-size: 50px;
    max-width: 60%;
  }

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}


/*--------------------------------------------------------------
# Card Section AUST CDC MOTTO
--------------------------------------------------------------*/

.text-center h1{
  font-size: 70px ;
  line-height: 40px;
  font-weight: 700;
  color: #1B1C41;
  padding-top: 80px;
  padding-bottom: 80px;
}
.cards {
  flex: 1!important;
  margin: 0 auto;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  min-height: 250px;
  border-radius: 10px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 1.5%;
  box-sizing: border-box;
  box-shadow: 5px 15px 14px 0px rgba(0,0,0,0.1);
}
.card {
  min-height: 650px!important; 
  padding-top: 10px;
  width: 21rem;
}

.cards:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23);
}

.card-img-top {
  width: 100%;
  margin: 0 auto;
  border-radius: 50%;
  border-color: #e62d39;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.card-img-hover{
  display: none;
  width: 100%;
  margin: 0 auto;
  border-radius: 50%;
  border-color: #e62d39;
  border-width: 3px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.hover_border
{
  border: 2px solid #E62D39;
  border-radius: 50%;
  width: 160px;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}
.card-body {
  padding-top: 10px;
}

.cards:hover .card-img-top {
  opacity:0;
  display: none;
}

.cards:hover .card-img-hover{
  opacity: 1;
  display: block;
}
.card-text:last-child {
  text-align: justify;}

  /* Medium devices (tablets, less than 992px) */
  @media (max-width: 990px) { 
    .text-center h1 {
      font-size: 60px;
      line-height: 30px;
    
    }
    .card {
      min-height: 625px!important;
      padding-top: 5px;
      width: 18rem;
    }
    .card .col-4{
      width: 19rem !important;
    }
    section {
      padding: 60px 30px;
    }
    #footer .text-center p {
      font-size: 18px !important;
      line-height: 28px !important;
  }
   }

  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 802px) {
    .text-center h1 {
      font-size: 60px;}

    .card {
      width: 15rem !important;
      min-height: 460px !important;
  }
  .text-center p {
    font-size: 15px !important;
    line-height: 20px  !important;
}
   }

  /* X-Small devices (portrait phones, less than 576px) */
  @media (max-width: 575px) { 
    .text-center h1 {
      font-size: 35px;
      line-height: 0;
  }
    .card {
      width: 12rem !important;
      min-height: 360px !important;
    }
    .text-center p {
      font-size: 10px !important;
      line-height: 12px  !important;
      padding: 10px 10px;
  }
  .card-title {
    font-size: 14px;
}
  .card-body{
    padding: 0;;
  }
  .my_col01{
    width: 50%;
  }
  .my_col03{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%  !important;
  }
   }




/*--------------------------------------------------------------
# ABOUT AUST CDC
--------------------------------------------------------------*/
.about_cdc{

    padding: 150px 75px;
}
.about_logo img{
  margin-top: 15px;
    max-width: 100%;
    padding: 10px;

}
.about_text{
   
    max-width: 90%;
    padding: 20px;
}
.about_text h1
{
    font-size: 60px;
    font-weight: 700;
    line-height: 40px;
    margin-top: -90px;
    margin-bottom: 20px;
    color: #1B1C41;
}
.about_text h2
{
    font-size:  30px;
    font-weight: 700;
    line-height: 36px;
    color: #E62D39;
}
.about_text p
{   text-align: justify;
    font-family: Roboto;
    font-size:  20px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: 000;
}
@media(max-width: 1024px)
{
    .about_text
    {
      max-width: 95%;
      padding: 0;
    }
    .about_cdc {
      padding: 100px 70px;
  }
  .about_logo img {
    align-items: center;
    margin-top: 0;
    padding: 0;
}
}
   /* Medium devices (tablets, less than 992px) */
   @media (max-width: 991px) { 
    .about_logo img {
      margin-top: 0 !important;
      padding: 0px !important;
   }
   .about_text h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 20px;
    margin-top: -100px;
    margin-bottom: 15px;
}
  .about_text h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
} 
.about_text p {
  text-align: justify;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  margin-top: 15px;
  margin-bottom: 15px;
}
  }
  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 802px) {
    .about_logo img {
    margin-top: 0 !important;
    padding: 0px   !important;
  
} 
.col-md-9 {
  padding: 20px !important;
}
}

  /* X-Small devices (portrait phones, less than 576px) */
  @media (max-width: 575px) { 
    .about_text h1 {
      font-size: 30px;
      font-weight: 700;
      line-height: 10px;
      margin-top: -111px;
      margin-bottom: 14px;
  }
  .about_text h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}
.about_text p {
  text-align: justify;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.about_cdc {
    padding: 30px 20px;
    margin-top: 100px;

}
.about_logo img {
  width: 90%;
  margin-top: -90px !important;
}
   }

/*--------------------------------------------------------------
# ABOUT AUST
--------------------------------------------------------------*/
.about_aust{

}
.col-md-9
{
  padding: 40px;
}
.aust h3
{
  text-align: justify;
  font-size: 70px;
  line-height: 70px;
  font-weight: 700;
  margin-bottom: 20px;
}
.aust p
{ 
  font-size: 20px;
  line-height: 28px;
  text-align: justify;
  margin-right:10px;
}

.about_logo img{
    align-items: center;
    margin-top: 90px;
    padding: 40px;
}

.aust_logo1 img
{   
  align-items: center;
    margin-top: 90px;
    padding: 40px;

}
.cta {
  background:  url("../img/aust-01.webp") fixed center center;
  background-size: cover;
  padding: 60px 0;
  color: #fff;
}

   /* Medium devices (tablets, less than 992px) */
   @media (max-width: 990px) { 
    .aust_logo1 img {
      margin-top: 75px;}
    .aust h3 {
      text-align: justify;
      font-size: 50px;
      line-height: 40px;
      font-weight: 700;
      margin-bottom: 15px;
  }
  .aust p {
    font-size: 16px !important;
    line-height: 20px !important;
}
  .aust_logo1 img {
  margin-top: 25px;
  padding: 0;
  }
  .aust .col-md-9{
    padding: 20px;
  }
   }
  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 802px) {
    .aust h3 {
      text-align: justify;
      font-size: 40px;
      line-height: 30px;
      margin-bottom: 12px;
  }
  .aust p {
    font-size: 13px !important;
    line-height: 18px !important;
}
  
}
   

  /* X-Small devices (portrait phones, less than 576px) */
  @media (max-width: 575px) { 
    .aust h3 {
      text-align: justify;
      font-size: 28px;
      line-height: 16px;
      font-weight: 700;
      margin-bottom: 18px;
  }
  .aust p {
    font-size: 11px !important;
    line-height: 15px !important;
    width: 115%;

} 
.aust_logo1 img {
  margin-top: 18px;
  padding: 0;
  max-width: 65%;
  margin-left: 50px;

}
   }
   @media (max-width: 420px) {
      .aust h3 {
      font-size: 24px;
      line-height: 14px;
  }
  .aust .col-md-9 {
    padding: 10px;
    margin-left: 33px;
}
  .aust p {
  font-size: 11px !important;
  line-height: 13px !important;
  width: 129%;
  }
  .aust_logo1 img {
    margin-left: 30px;
}
  
  
  }


/*--------------------------------------------------------------
# Latest News Carousol 
--------------------------------------------------------------*/
.news{
  background-color: #fff;
}
.news h1
{ 
  font-size: 70px;
  line-height: 40px;
  color: #1B1C41;
  font-weight: 600;
  margin: 20px 0px;

}
.news .carousel-item {
  padding: 0px 250px 0px 250px;
  border: 5px solid #fff;
  border-radius: 25px;
  color: #1B1C41;
}
.news .carousel-item h3{
  font-size: 28px;
}
.news .carousel-item p{
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
}
.news .carousel-inner
{
  padding: 10px 100px 100px 100px;
}
.news .carousel-item .col-md-6{
  padding: 40px 40px 150px 0px;
}
@media (max-width: 1200px) {

  .news .carousel-item {
    padding: 0 150px 0 150px; 
}
}

   /* Medium devices (tablets, less than 992px) */
   @media (max-width: 990px) { 
    .news h1 {
      font-size: 55px;
      line-height: 30px;}
      .news .carousel-item {
        padding: 0px 110px 0px 110px;}

.news .carousel-item h3 {
    font-size: 24px;
}
.news .carousel-item p {
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  width: 115%;
}
   }
  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 850px) {
    .news h1 {
      font-size: 55px;
      line-height: 30px;}
      .news .carousel-item {
        padding: 0px 6px 0px 6px;}
        .news .carousel-item p {
          font-size: 15px;
          line-height: 19px;
          width: 100%;
      }
      .news h1 {
        font-size: 45px;
        line-height: 20px;
    }
    .news .carousel-inner {
      padding: 5px 50px 5px 40px;
  }
 
}
   

  /* X-Small devices (portrait phones, less than 576px) */
  @media (max-width: 575px) { 
    .news h1 {
      font-size: 42px;
      line-height: 0px;
  }
  .news .carousel-inner {
   margin-left: 20px;
}
.news .carousel-item p {
  font-size: 11px;
  line-height: 13px;
} .news{
    background-color: #fff;
    padding: 10px 10px;
}
.news .carousel-item h3 {
  font-size: 18px;
}
}
@media (max-width: 420px) {
  .news .carousel-item .col-md-6 {
    padding: 22px 20px 10px 40px;
}
.news .carousel-item .col-md-6 {
  padding: 15px 0px 15px 0px;
  margin: 0 10px 0 5px;
}
   
}
/*--------------------------------------------------------------
# AUST CDC Events
--------------------------------------------------------------*/


.event {
  background:  url("../img/event-01.webp") fixed center center;
  background-size: cover;
  padding: 60px 0;
  color: #fff;
}
.event h1{
  font-size: 70px;
  line-height: 40px;
  color: #1B1C41;
  font-weight: 600;
  margin-bottom: 30px;
}
.event img{

}
.event .carousel-item {
  padding: 20px 20px 120px 120px;
  border: 5px solid #fff;
  border-radius: 25px;
  color: #1B1C41;
}
.event .carousel-item h3{
  font-size: 34px;
}
.event .carousel-item p{
  font-size: 18px;
  line-height: 36px;
  text-align: justify;
}
.event .carousel-item p a {
  font-size: 18px;
  line-height: 30px;
}

.eventCarousel {
    padding: 10px 100px !important;
}

.event .carousel-item .col-md-6{
  padding: 30px;
}

.event .carousel-item-next .carousel-item-left,
.event .carousel-item-prev.carousel-item-right {
  opacity: 0;
  visibility: hidden;
}

.event .carousel-item-next  .carousel-item-left.active,
.event .carousel-item-prev.carousel-item-right.active {
  opacity: 1;
  visibility: visible;
}

   /* Medium devices (tablets, less than 992px) */
   @media (max-width: 990px) 
   { 
    .event .carousel-item 
    {
      padding: 0;
    }
    .event .carousel-item p {
      font-size: 17px;
      line-height: 30px;
  }

  }
  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 802px) 
  {
    .event .carousel-item p 
    {
      font-size: 15px;
      font-weight: 500;
      line-height: 22px;
   }
   .event h1 {
    font-size: 60px;}
   .event .carousel-inner 
   {
    padding: 10px 80px 70px 80px;
  }
  
}
   

  /* X-Small devices (portrait phones, less than 576px) */
  @media (max-width: 575px) 
  { 
    .event h1 {
      font-size: 55px;}
    
    .event .carousel-item h3 {
      font-size: 22px;
  }
  .event .carousel-item p {
    font-size: 15px;
    line-height: 15px;
}
.event .carousel-inner {
  padding: 10px 40px 30px 40px;
}
.event .carousel-item .col-md-6 {
  padding: 20px;
}
   }

 /* XX-Small devices (portrait phones, less than 421px) */
   @media (max-width: 420px) 
   {
    .event .carousel-item p {
      font-size: 11px;
      font-weight: 400;
      line-height: 10px;
      width: 100%;
  }
  .event .carousel-inner {
    padding: 10px 10px 19px 10px;
}
.event h1 {
  font-size: 50px;}

   }



/*--------------------------------------------------------------
# AUST CDC Affiliation
--------------------------------------------------------------*/

.affiliation{
  margin: 50px 50px;
  margin-bottom: 50px;
}
.affiliation h1{
  font-size: 60px;
}
.affiliation h2{
  margin-bottom: 50px;
  color: #001c41;
}
.affiliation img{
  height: auto;
  width: 8rem;
}
.clogo {
  transition: all 0.3s ease;
}

.clogo:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.clogo .ext img
{
  transform: scale(1);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.ext:hover {
  transform: scale(1);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0);
}

   /* Medium devices (tablets, less than 992px) */
   @media (max-width: 990px) { 
    
   }
  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 802px) {
    .affiliation h1 {
      font-size: 45px;
  }
  .affiliation img {
    width: 7rem;
}
  
}
   

  /* X-Small devices (portrait phones, less than 576px) */
  @media (max-width: 575px) { 
    .affiliation h1 {
      font-size: 34px;
  }
    .affiliation img {
      width: 5rem;
  }
  .affiliation {
    margin: 25px 25px;
    margin-bottom: 25px;
}
   }

 /* XX-Small devices (portrait phones, less than 421px) */
   @media (max-width: 420px) {
    .affiliation {
      margin: 10px 20px;
      margin-bottom: 10px;
  }
  .affiliation h1 {
    font-size: 24px;
}
    .affiliation img {
      width: 3rem;
  }
   }


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #f2f5f4;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #4b605c;
}

.section-title p {
  margin-bottom: 0;
  color: #5f7c78;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background-color: #f2f5f4;
  min-height: 40px;
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}




/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: rgb(15,12,41);
  background: linear-gradient(90deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 50%, rgba(15,12,41,1) 100%);
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}
#footer .footer-top {
  background: rgb(15,12,41);
  background: linear-gradient(90deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 50%, rgba(15,12,41,1) 100%);
  border-bottom: 2px solid #fff;
  padding: 30px 30px 0px 30px;

}
.footer_logo1
{
  height: 150px;
  width: auto;
}
.footer_logo2
{
  height: 150px;
  width: auto;
}
#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 20px;
  margin: 10px 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}



#footer .footer-top .footer-info p {
  font-family: Roboto;
  font-size: 14px;
  text-align: justify;
  line-height: 24px;
  font-weight: 200;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 25px;
  display: inline-block;
  background: #fff;
  color: #1B1C41;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  transform: scale(1.1);
  text-decoration: none;
}

#footer .footer-top h3 {
  font-family: "Ubuntu";
  font-size: 13px;
  font-weight:600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
  border-bottom: 1px solid #fff;
  line-height: 3px;
  margin-top: 20px;
}

#footer .footer-top .footer-links {
  margin-top: 70px;
}


#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top h2 {
  font-family: "Ubuntu";
  font-size: 13px;
  font-weight:600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
  border-bottom: 1px solid #fff;
  line-height: 3px;
  margin-top: 45px;
}
#footer .footer-top h1 {
  font-family: "Ubuntu";
  font-size: 20px;
  font-weight:600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
  border-bottom: 1px solid #fff;
  line-height: 28px;
  margin-top: 45px;
}
*#footer .footer-top .footer-links ul a {
  padding-right: 2px;
  color: #fff;
  font-size: 12px;
  line-height: 1;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ffc451;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: underline;
}


footer input[type="submit"] {
  width: 100%; 
  background:#302c63;
  border-radius: 12px;
}


footer input[type="submit"]:hover {
  background: #1B1C41;
}

#footer .copyright p{
  text-align: center;
  padding-top: 20px;
  font-size: 12px;
  line-height: 12px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
#footer h1{
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    border-bottom: 1px solid #fff;
}

form {
  width: calc(100% - 110px);
 
  border-radius: 20px;
}

input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #b8b3d3;
  border-color: transparent;
}
.regForm .mycontainer input {
  
  background-color: #fff;
  border-color: #1b1c41;
}
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}


form {
  width: 80%; 
}
   /* Medium devices (tablets, less than 992px) */
   @media (max-width: 990px) { 
    .footer_logo1
    {
      height: 140px;
      width: 95%;
    }
    #footer .footer-top h2 {
      margin-top: 35px;
  }
  #footer .footer-top {
    padding: 30px 15px 0px 15px;
}
  #footer .footer-top .footer-links ul li {
    padding: 2px 0;
}
    .footer_logo2
    {
      height: 140px;
      width: 95%;
    }
    #footer .footer-top h1 {
      font-size: 18px;
      padding-bottom: 12px;
      line-height: 20px;
      margin-top: 0px;
  }

  #footer .footer-top .footer-info p {
    font-size: 13px;
    line-height: 19px;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  width: 30px;
  height: 30px;
}
 #footer .text-center p {
  font-size: 12px !important;
  line-height: 5px !important;
} 
#footer .footer-top h3 {
  font-size: 12px;
  padding-bottom: 5px;
   }
   .container, .container-md, .container-sm {
    max-width: 785px;
}
input[type="text"], input[type="email"], textarea {
  width: 115%;
}
footer input[type="submit"] {
  width: 115%;}
}
  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 802px) {
    .container, .container-sm {
      max-width: 650px;
  }
  input[type="text"], input[type="email"], textarea {
    width: 115%;
  
}
#footer .text-center p {
  font-size: 10px !important;
  line-height: 2px !important;
} 
.copyright .text-center span {
  font-size: 9px;
  line-height: 16px;
}

  }
   

  /* X-Small devices (portrait phones, less than 576px) */
  @media (max-width: 575px) { 
    #footer .footer-top .footer-info p {
      font-size: 12px;
      line-height: 12px;
  } 
  /*.top_social i a{
    
    font-size: 9px !important;
  }*/
   }

 /* XX-Small devices (portrait phones, less than 421px) */
   @media (max-width: 410px) {
    #footer .footer-top h1 {
      font-size: 12px;
      padding-bottom: 0px;
      line-height: 14px;
      margin-top: 2px;
  }
  #footer .footer-top .footer-info p {
    font-size: 10px;
    line-height: 11px;
}
#footer .footer-top .footer-info h3 {
  font-size: 15px;
  margin: 10px 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 500;
}
#footer .footer-top .social-links a {
  font-size: 9px;
  width: 20px;
  height: 20px;
}
#footer .footer-top .footer-links {
  margin-top: -10px;
}
.container, .container-sm {
  max-width: 690px;
}
.footer_logo1 {
  height: 75px;
  width: 95%;
}
.footer_logo2 {
  height: 75px;
  width: 95%;
}
input[type="text"], input[type="email"], textarea {
  width: 115%;
  height: 40px;
}
#footer .text-center p {
  font-size: 9px !important;
  line-height: 1px !important;
}
.copyright .text-center span {
  font-size: 8px !important;
  line-height: 16px !important;
}
#footer .footer-top .social-links a {
  font-size: 8px;
  padding: 5px;
  width: 16px;
  height: 16px;
}
   }